.goal-item {
  margin: 1rem 0;
  background: limegreen;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all ease 0.3s;
}
.goal-item:hover {
  background: red;
}
